{% extends 'base.html' %}

{% block content %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Oppy</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger">Log Out</button>
        </form>
    </div>
</nav>
<br>
<h1>Hi! @{{ user.username }}</h1>
<br>
<h2>Portfolio Worth : </h2>
<h2>Your Remaining Balance is : Rs. {{ user.balance }}</h2>

<h1>Your Portfolio Holdings</h1>
<!--TABLE 1 GOES HERE-->

<h1>Your Trade History</h1>
<!--TABLE 2 GOES HERE-->
{% endblock content %}