{% extends 'base.html' %}

{% block content %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Oppy</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger">Log Out</button>
        </form>
    </div>
</nav>
<br>
<h1>Hi! @{{ user.username }}</h1>
<br>
<h2>Your Portfolio Worth is : </h2>
<h2>Your Remaining Balance is : </h2>
{% endblock content %}